@import "../base.css";

.contentArea {
  display: flex;
  margin: var(--header-height) 0 0 var(--main-navigation-width);
  height: calc(100vh - var(--header-height));
  width: calc(100% - var(--main-navigation-width));
  overflow: visible;
}
