:root {
  --turquoise-color: #08d9d6;
  --dark-color: #252a34;
  --red-color: #ff2e63;
  --light-color: #eaeaea;

  --header-height: 8vh;
  --main-navigation-width: 20vw;
  --button-blue: #4285f4;
  --button-green: #34a853;
  --panel-bg: #f5f5f5;
}
